

*{box-sizing:border-box}

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
@keyframes loader {
  0% {transform:rotate(-45deg)}
  50%{transform:rotate(-135deg)}
  100%{transform:rotate(-225deg)}}
@keyframes span-1 {
  0% {transform:translate(0);}
  50%{transform:translate(-50px, 0);border-color:#EE4D68}
  100%{transform:translate(0);}}
@keyframes span-2 {
  0%{transform:translate(0);}
  50%{transform:translate(50px, 0);border-color:#875678}
  100%{transform:translate(0);}}
@keyframes span-3 {
  0%{transform:translate(0);}
  50%{transform:translate(0, -50px);border-color:#FF9900}
  100%{transform:translate(0);}}
@keyframes span-4 {
  0%{transform:translate(0);}
  50%{transform:translate(0, 50px);border-color:#00E4F6}
  100%{transform:translate(0);}}
.loader {
  width: 50px;
  height: 50px;
  position: relative;
  animation: loader 2s infinite ease-in-out;
}
.loader span {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
  border: 4px solid #0B1B48;
}
.loader span:nth-child(1) {
  animation: span-1 2s ease-in-out infinite;
}
.loader span:nth-child(2) {
  animation: span-2 2s ease-in-out infinite;
}
.loader span:nth-child(3) {
  animation: span-3 2s ease-in-out infinite;
}
.loader span:nth-child(4) {
  animation: span-4 2s ease-in-out infinite;
}

form {
    width: 300px;
    height: 350px;
    border: 3px solid rgb(255, 0, 0);
    text-align: center;
    border-radius: 5%;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    animation: formEppear 5s;
    transition: 1s;
}

form:hover {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.11);
  transition: 1s;
}

.profile-form {
  width: 300px;
  height: 350px;
  border: 3px solid rgb(255, 0, 0);
  text-align: center;
  border-radius: 5%;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  animation: formEppear 5s;
  transition: 1s;
}

.profile-form:hover {
box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.11);
transition: 1s;
}

.profile-header{
  margin-bottom: 20px;
}

.profile-box {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.box{
  /* display: inline-block; */
  position:relative;
  top: -15px;
  margin-right: 10px;
  /* left: -px; */
  
}
.box1 {
  margin-right: 27px;
}

.box-input{
  width: 190px;
}

.input-number::-webkit-inner-spin-button,
.input-number::-webkit-inner-spin-button:hover,
.input-number::-webkit-inner-spin-button:active,
.input-number::-webkit-inner-spin-button:focus {
  -webkit-appearance: none;
  margin: 0;
}



@keyframes formEppear {
    from {
        opacity: 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.11);
    }
    to {
        opacity: 1;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
    }
}

@keyframes shadowOpacity {
    from {
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.11);
    }
    to {
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
    }
}

@keyframes loginForm {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.login {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
  font-size: 15px;
  font-weight: 600;
  color: rgb(255, 0, 0);
  text-align: center;
  margin-bottom: 20px;
  animation: loginForm 5s;
}

.imgForm {
  width: 20px;
  position:sticky;
  right: 4px;
}

.password {
  display: inline-block;
  position: relative;
  height: 90px;
}

.password-control {
	position: absolute;
	top: 4px;
	right: 1px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/img/eye-outline.svg) 0 0 no-repeat;
}

.password-free {
	position: absolute;
	top: 4px;
	right: 1px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(/img/eye-off-outline.svg) 0 0 no-repeat;
}

.pswdMessage {
  position: absolute;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  letter-spacing: 1px;
  border: none;
  font-size: 15px;
  color: rgb(255, 0, 0);
  text-align: center;
  animation: loginForm 1s;
  margin: 0;
}

.test {
  margin-top: 0;
}

.password {
  margin-bottom: 10px;
}

input {
    border: 0px solid rgb(205, 204, 204);
    /* background-color: #efefef; */
    width: 240px;
    height: 30px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
    outline: none;
    color: red;
    /* border-radius: 5px; */
    /* box-shadow: 0px 10px 3px 0px rgba(0,0,0,0.11); */
    transition: 1s;
    font-weight: 500;
    border-bottom: 2px solid black;
    margin-bottom: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-text-fill-color: red;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
}

p {
    margin-bottom: 10px;
}

input::placeholder {
    color: #212529;
    opacity: 0.4;
}

input:focus {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.11);
    transition: 1s;
}

button {
    width: 160px;
    height: 40px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: none;
    font-size: 15px;
    background-color: #ffffff;
    transition: 1s;
    font-weight: 600;
    margin-top: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.11);
    color: rgb(255, 0, 0);
    border: 3px solid red;
}

button:hover {
    background-color: #ff0000;
    transition: 1s;
    color: rgb(255, 255, 255);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
}

button:active {
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
    transition: 1s;
}


.hide {
  display: none;
  transition: 1s;
}